.forest-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}



@keyframes slide {
  0%{
    transform: scale(2) translate3d(0, 0, 0);
  }
  100% {
    transform: scale(2) translate3d(-1856px, 0, 0);
  }
}

.layer0 {
    position: absolute;
    transform: scale(2);
    animation: slide 200s linear infinite;
    margin-top: 150px;
    width: 5568px;
    height: 100%;
    z-index: 10;
    background-image: url('./images/Layer_0000_9.png');
    background-repeat: repeat-x;
    background-position: 0;
}

.layer1 {
    position: absolute;
    transform: scale(2);
    animation: slide 160s linear infinite;
    margin-top: 120px;
    width: 5568px;
    height: 100%;
    z-index: 9;
    background-image: url('./images/Layer_0001_8.png');
    background-repeat: repeat-x;
    background-position: 0;
}

.layer2 {
    position: absolute;
    transform: scale(2);
    animation: slide 170s linear infinite;
    margin-top: -160px;
    width: 5568px;
    height: 100%;
    z-index: 8;
    background-image: url('./images/Layer_0002_7.png');
    background-repeat: repeat-x;
    background-position: 0;
}

.layer3 {
    position: absolute;
    transform: scale(2);
    animation: slide 185s linear infinite;
    width: 5568px;
    height: 100%;
    z-index: 7;
    background-image: url('./images/Layer_0003_6.png');
    background-repeat: repeat-x;
    background-position: 0;
}

.layer5 {
    position: absolute;
    transform: scale(2);
    animation: slide 200s linear infinite;
    width: 5568px;
    height: 100%;
    z-index: 5;
    background-image: url('./images/Layer_0005_5.png');
    background-repeat: repeat-x;
    background-position: 0;
}

.layer6 {
    position: absolute;
    transform: scale(2);
    animation: slide 215s linear infinite;
    height: 100%;
    width: 5568px;
    z-index: 4;
    background-image: url('./images/Layer_0006_4.png');
    background-repeat: repeat-x;
    background-position: 0;
}

.layer8 {
    position: absolute;
    transform: scale(2);
    animation: slide 230s linear infinite;
    height: 100%;
    width: 5568px;
    z-index: 2;
    background-image: url('./images/Layer_0008_3.png');
    background-repeat: repeat-x;
    background-position: 0;
}

.layer9 {
    position: absolute;
    transform: scale(2);
    height: 100%;
    width: 5568px;
    z-index: 1;
    background-image: url('./images/Layer_0009_2.png');
    background-repeat: repeat-x;
    background-position: 0;
}


/* @-webkit-keyframes scroll {
    from {
        left: 0px;
    }

    to {
        left: -540px;
    }
}

.forest {
    width: 200%;
    background-repeat: repeat-x;
    background-position: bottom;
    position: fixed;
    left: 0;
}

.imageFirst {
    -webkit-animation: scroll 10s infinite linear;
    bottom: 0;
    z-index: 100;
    height: 200px;
    background-size: 37%;
    background-image: url('./images/Layer_0000_9.png');
}

.imageSecond-green-bush {
    bottom: 31px;
    width: 100%;
    height: 200px;
    z-index: 12;
    background-size: 86%;
    background-image: url('./images/Layer_0001_8.png');
}

.imageThird-first-tree-structure {
    -webkit-animation: scroll 15s infinite linear;
    bottom: -1%;
    height: 1089px;
    max-height: 100%;
    width: 130%;
    background-size: 113%;
    z-index: 10;
    background-image: url('./images/Layer_0003_6.png');
}

.imageFourth-second-tree-structure {
    bottom: -1%;
    height: 1083px;
    max-height: 100%;
    width: 100%;
    z-index: 8;
    background-size: 113%;
    background-image: url('./images/Layer_0005_5.png');
}

.imageFifth-third-tree-structure {
    background-image: url('./images/Layer_0006_4.png');
    bottom: -1%;
    height: 1083px;
    max-height: 100%;
    width: 100%;
    z-index: 6;
    background-size: 113%;
}

.imageSix-fourth-tree-structure {
    background-image: url('./images/Layer_0008_3.png');
    bottom: -1%;
    height: 1083px;
    max-height: 100%;
    width: 100%;
    z-index: 4;
    background-size: 113%;
}

.imageSeven-fifth-tree-structure {
    background-image: url('./images/Layer_0009_2.png');
    bottom: -1%;
    height: 1083px;
    max-height: 100%;
    width: 100%;
    z-index: 2;
    background-size: 113%;
}

.imageEight-tree-head{
    background-image: url('./images/Layer_0002_7.png');
    height: 831px;
    max-height: 100%;
    top: 0;
    z-index: 15;
    background-size: 36%;

}
.imageNine-light-first{
    background-image: url('./images/Layer_0004_Lights.png');
    height: 831px;
    max-height: 100%;
    top: 0;
    z-index: 8;
    background-size: 36%;

}
.imageTen-light-second{
    background-image: url('./images/Layer_0007_Lights.png');
    height: 831px;
    max-height: 100%;
    top: 0;
    z-index: 10;
    background-size: 36%;

} */