@font-face {
    font-family: 'PixelArt';
    src: url(../assets/fonts/PixelArt/PixelArt.woff) format('woff');
  }

.avatar-list{
    position: absolute;
    z-index: 100;
    top: 58%;
    display: flex;
}

.avatar-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.avatarImage{
    width: 300px
}

.avatarName{
    font-family: 'PixelArt';
    color: white;
    font-size: 19px;
    margin-top: -60px;
}